/* Modal styles adjust to liking */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    padding-top: 60px; /* Location of the box */
}

/* Modal content */
.modal-content {
    background-color: #fefefe;
    margin: 5% auto; /* 5% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
    border-radius: 10px;
}

/* Close button */
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

/* Recipe Modal */
#recipe-modal {
    display: none;
    position: fixed;
    z-index: 2;
    left: 50%; /* Center horizontally */
    top: 50%; /* Center vertically */
    transform: translate(-50%, -50%); /* Center the modal */
    width: 700px; /* Adjust the width as needed */
    height: 500px; /* Set the height to match the width for a square shape */
    background-color: #fff; /* White background */
    border: 1px solid #ccc; /* Add a border */
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); /* Box shadow for the modal */
    border-radius: 5px; /* Rounded corners */
    text-align: center; /* Center align content */
}

/* Recipe Modal Content */
#recipe-modal .modal-content {
    padding: 20px;
}

/* Close Button */
#recipe-modal .close {
    color: #333;
    float: right;
    font-size: 24px;
    font-weight: bold;
    cursor: pointer;
}

#recipe-modal .close:hover {
    color: #000;
}

/* Recipe Title */
#recipe-modal h3 {
    font-size: 18px;
    margin: 10px 0;
}

/* Ingredients List */
#recipe-modal ul {
    list-style-type: none;
    margin: 0px; 
    padding-left: 20px;
}

#recipe-modal ul li {
    margin: 5px 0;
}

/* Instructions */
#recipe-modal p {
    margin-top: 10px;
}

/* Close Button for the Recipe Modal */
#recipe-modal #close-recipe {
    background-color: #333;
    color: #fff;
    border: none;
    padding: 10px 20px;
    margin-top: 20px;
    cursor: pointer;
    border-radius: 5px;
    text-align: center;
}

#recipe-modal #close-recipe:hover {
    background-color: #000;
}

/* styling for search */
#search-history {
    text-transform: capitalize;
    color: blue;
    
}

#search-history .history-item {
    cursor: pointer;
}

#search-history .history-item:hover {
    text-decoration: underline;
}

/* styles for the Clear History button */
#clear-history-button {
    cursor: pointer;
}

#clear-history-button:hover {
    background-color: #a5a2a1;
}
