* {
    box-sizing: border-box;
    font-family: 'Courier New', Courier, monospace;
  }
  
  
  /**************background color**********************/
  body {
    color: #cfc2c2;
    background-color: #ffffff;
  }
  /**************End ofbackground color**********************/
  
  
  /******** Background img ****************/
  .banner {
    width: 100%;
    height: 50vh;
    background-image: linear-gradient(rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.75)),
      url(../images/img-background.jpg);
    background-size: cover;
    background-position: center;
  }
  /******** End of background img ****************/
  
  
  /************ Welcome to Chef's vison content ********************/
  .welcome-message {
        background: #9cafaa;
        display: inline-block;
        text-align: center;
        color: rgb(255, 255, 255);
        margin-bottom: 200px;
        margin-top: 20px;
  }
  /************ End Welcome to Chef's vison content ********************/



  /************ Try New Dishes for website styling ********************/
 .image-decoration h1{
  font-size: xx-large;
  justify-content: center;
  align-items: center;
  display: flex;
  color:#9cafaa;
  margin-bottom: 15%;

 }

  /************ Try New Dishes for website styling ********************/




  /***************Change the text color for the "What You'll Find"*****/
  .what-you-find h2,
  .what-you-find p {
    color: #ffffff;
  }

  .what-you-find h2,.why-this-website h2{
    justify-content: center;
    align-items: center;
    display: flex;
    padding: 50px 50px 50px 50px;
  }
  
  .what-you-find,.why-this-website{
    background-color: #9cafaa
  }


  /***********Change the text color for the "Why This Website"******/
  .why-this-website h2,
  .why-this-website p {
    color: #ffffff; 
  }
  
  .what-you-find p,.why-this-website p{
     padding: 50px 50px 50px 50px;
  }


  /*******Change the text color for the "Contact Us" section********/
  #contact-us{
    background-color: #617a74;
    
  }

  #contact-us h2{
    padding: 60px 0px 70px 80px;
    justify-content: center;
    align-items: center;
    display: flex;
    color: #ffffff;
    


  }
  #contact-us p{
    justify-content: center;
    align-items: center;
    display: flex;
    margin-bottom: 0;
    padding-bottom: 50px;
    color: #ffffff;

   

  }

  
  
  /******Content for nav bar****************/
  .nav-wrapper {
    background-color: #52796f;
  }
  
  #nav-mobile {
    text-indent: 50px;
    list-style: none;
    display: inline-block;
    margin: 0 10px;
    position: relative;
    left: -80px;
    top: -20px;
  }
  
  #nav-mobile li a {
    font-size: 24px; 
  }
  /******End content for nav bar****************/
  
  
  /****** Content Chef's logo*****************/
  .brand-logo {
    position: absolute;
    left: 90px;
  }
  
  /******content Find Your recipe*****************/
  .sub-title {
    width: 100%;
    position: absolute;
    top: 30%;
    transform: translateY(-50%);
    text-align: center;
    font-size: 70px;
    margin-top: 80px;
  }
  
  
  /************************** Modal content *****************/
  .modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* stacking order */ 
    left: 0;
    top: 50%;
    transform: translateY(-50%); /* Center it vertically */
    width: 20%; 
    height: 20%; 
    background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
    justify-content: center;
    align-items: center;
  }
  
  .modal-content {
    background-color: #010200;
    margin: 5% auto; /* 5% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
    border-radius: 10px;
  }
  
  .close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }
  /****************** End of modal content ******************/
  
  
  /*******Content for recipe, ingredient, saved, and nutrition***************/
  .title {
    margin: 10px;
    text-align: center;
    background-color: #6a9c90;
    padding: 50px 10px 15px 10px;
  }
  /*******End content for recipe, ingredient, saved, and nutrition***************/
  
  
  /*********Content for meal card container**********************/
  .mealCardContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  /*********End content for meal card container**********************/
  
  
  /*************Content for meal card display and save display cards***************************/
  .mealCardDisplay, .saveRecipesDisplay, .nutrientDisplay {
    flex: 1; /* Allow the cards to flex equally within the container */
    max-width: 450px; 
    min-width: 350px; 
    height: auto; /* Allow the height to adjust based on content */
    margin: 10px;
    border: 2px solid #97bdae;
    border-radius: 15px;
    text-align: center;
    background-color: #ffffff;
  }
  
  /* Media query for smaller screens */
  @media (max-width: 768px) {
    .mealCardContainer {
      flex-direction: column; /* Stack cards vertically on smaller screens */
      align-items: center;
    }
    .mealCardDisplay, .saveRecipesDisplay {
      max-width: 90%; /* Adjust the maximum width for smaller screens */
      min-width: 90%; /* Adjust the minimum width for smaller screens */
    }
  }
  /*************Content for meal card display and save display cards***************************/
  
  
  /*************Content for save recipe**********************/
  
  .saveRecipesDisplay button {
    margin-top: 50px; 
  }
  /*************End Content for save recipe**********************/
  
  /*meal card goes here*/
  /************Content display meal cards************************/
  .mealCards {
    width: 25%;
    position: absolute;
    top: 60%;
    transform: translateY(-50%);
    left: 80px;
  }
  
  .mealCardPosition {
    width: 25%;
    position: absolute;
    top: 60%;
    transform: translateY(-50%);
    left: 1000px;
  }
  
  .meal-item {
    text-align: center;
    padding-top: 40px;
  }
  .meal-item img {
    max-height: 300px;
  }
  /************End content display meal cards************************/
  
  
  
  .recipe-item,
  ul {
    text-align: center;
    padding-top: 20px;
  }
  
  #recipeInstructions {
    font-size: 20px; /*change color*/
    color: black;
    padding-left: 300px;
    padding-right: 300px;
  }
  
  #recipeImg {
    max-height: 400px;
  }
  
  
  #ingridentsList {
    list-style: none;
  }
  
  .card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  
  /* Style the meal card goes here */