* {
    box-sizing: border-box;
}

header {
    padding: 40px;
    text-align: center;
    background: rgb(101, 37, 37);
    color: black;
}

 body {
    color:  #0a0f07 ;
     background-color:  #ffffff  ;
     background-image: url(../images/img-background.jpg);
     background-position: center;
     background-repeat: no-repeat;
     background-size: cover;
    }
   
   .title {
    text-align:center;
    background-color: #ffffff;
    
    

   }
    
   .container{
    display:flex;
    

   }

   .mealCards,.mealCardDisplay {
    background-color: #ffffff;
    border:2px solid #0a0f07;
    margin:30px;
    border-radius: 10px;
    display:flex;
    justify-content: center;
    align-items: center;

   }


  